@import '~bootstrap/scss/bootstrap';
body{
font-family: 'Comfortaa', cursive;
background-color: #f9f5e3;
}


// .container{
//     height: 100vh;
//     background-color: #f9f5e3;
//     background-image: url(./img/logo.png);
//     background-repeat: no-repeat;
//     background-position: center;
    
// }


#logo {
    z-index: 0;
}

#family-name {
    border: 0;
    box-shadow: none;
    background-color:  #f9f5e3 !important;
}
#family-name:focus{
    outline: none !important;
}

#welcome-sign {
    // position: absolute;
    z-index: 0;
}

form {
    position:relative;
    z-index: 1000;
}
nav {
     background-color:  #f9f5e3 !important;

}